.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #690b85;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-main {
  display: flex;
}

.App-link {
  color: #c9dfe6;
}

.logout-button {
    width: 20%;
    padding: 15px 35px;
    border-radius: 30px;
    outline: none;
    border-color: transparent;
    margin-bottom: 10px;
    background-color: rgb(209, 85, 240);
    color: rgb(240, 240, 240);

}

/* MessageLIst */


.message-list {
  border-left: 2px solid #2b474f;
  width: 100%;
  background: #b599f0;
  min-height: 47vh;
}


.message {
  color: #2b474f;
  font-weight: 700;
  font-size: 1.3em;
  letter-spacing: 0.25em;
 

}



.App-link {
  color: #c5e9f3;
}



.message {
  color: #61dafb;
  font-weight: 700;
  font-size: 1.3em;
  letter-spacing: 0.25em;

}

.message-red {
  color: #e03c3c;
  font-weight: 300;
  font-size: 0.3em;
  letter-spacing: 0.25em;
}

/* Form */
.message-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
}

.message-form__author-text, .message-form__message-text {
  padding: 10px 15px;
  outline: none;
  border-radius: 23px;
  border-color: transparent;
}

.message-form__message-text {
  padding-bottom: 60px;
}

.message-form__btn {
  color: #fff;
  background: #109fc5;
  border: transparent;
  display: inline-block;
  padding: 10px 0px;
  border-radius: 15px;
  width: 30%;
  align-self: center;
}


/* ChatList */

.chatlist__form {
  padding: 10%;
  display: flex;
  flex-direction: column;
}

.chatlist__input {
  padding: 3%;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  border-color: transparent;
}

.chatlist__button {
  padding: 10px 35px;
  border-radius: 30px;
  outline: none;
  border-color: transparent;
  margin-bottom: 10px;
}

/* Login */

.login-form {
    border: 3px solid rgb(79, 144, 243);
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    background: rgb(247, 235, 235);

}


.login-form__input {
    width: 40%;
    padding: 1%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border-color: rgb(79, 144, 243);

}

.login-form__button {
    width: 20%;
    padding: 10px 35px;
    border-radius: 30px;
    outline: none;
    border-color: transparent;
    margin-bottom: 10px;
    background-color: rgb(79, 144, 243);
    color: rgb(240, 240, 240);
}

/* App */